<html lang="fr" ng-app="StarterApp">
	<head>
		<meta name="viewport" content="initial-scale=1"/>
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic">
		<link rel="stylesheet" href="src/angular/angular-material.min.css">
		<link rel="stylesheet" type="text/css" href="src/css/paingouin.css">
	</head>
	<body layout="column" ng-controller="AppCtrl">

<!-- Header -->

	<md-toolbar layout="row">
		<div class="md-toolbar-tools">
			<md-button ng-click="toggleSidenav('left')" hide-gt-sm class="md-icon-button">
				<md-icon aria-label="Menu" md-svg-icon="https://s3-us-west-2.amazonaws.com/s.cdpn.io/68133/menu.svg"></md-icon>
			</md-button>
			<h1 class="md-display-4">Pain'gouin</h1>
			<span flex></span>
			<md-button class="md-raised">Connexion</md-button>
		</div>
	</md-toolbar>

<!-- Sous le Header -->

	<div layout="row" flex>

<!-- Drawer -->

		<md-sidenav layout="column" class="site-sidenav md-sidenav-left md-whiteframe-z5" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')">
			<md-content flex role="navigation">
			<ul class="docs-menu">
			<li>
				<md-list ng-controller="GeneralController">
					<h1 class="md-display-1" >Informations</h1>
					<md-list-item class="md-1-line" ng-repeat="item in general">
						<div class="md-list-item-text">
							<menu-link>{{item.title}}</menu-link>
						</div>
					</md-list-item>	
				</md-list>
				</li>
				</ul>
			</md-content>
		</md-sidenav>

<!-- Contenu de la page -->

		<div layout="column" flex id="content">
			<md-content layout="column" flex class="md-padding">
				<div ng-include="'liste-membres.html'"></div>
				liste-membre
				<liste-membres></liste-membres>
			</md-content>
		</div>
	</div>

	<!-- Angular Material Dependencies -->
	
	<script src="src/angular/angular.min.js"></script>
	<script src="src/angular/angular-animate.min.js"></script>
	<script src="src/angular/angular-aria.min.js"></script>
	<script src="src/angular/angular-material.min.js"></script>
	<script src="src/js/app.config.js"></script>
	</body>
</html>